* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 65);
    height: 100vh;
    width: 100vw;
}

header,
nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    height: 4rem;
    width: 100%;
    color: aquamarine;
}

nav h1 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 800;
    padding: 0.5rem 2rem;
}

#store-btn {
    padding: 1rem 2rem;
    width: fit-content;
}

main {
    width: 100%;
    display: grid;
    grid-template-areas:
        "in in"
        "ss ms";

    gap: 2rem;
    margin-top: 4.5rem;
    height: 80%;
    padding: 1rem;
}

#intro {
    grid-area: in;
    font-size: 1.5rem;
    color: aquamarine;
    font-weight: 600;
    padding: 1rem;
}

.small-size {
    display: grid;
    grid-area: ss;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;
    padding: 1rem;
}

.multi-size {
    display: grid;
    grid-template-columns: 40% 45%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-area: ms;
    gap: 2rem;
    padding: 1rem;
}

.multi-size-lot,
.small-lot {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    position: relative;
    display: flex;
    place-content: center;
    align-items: center;
    color: aquamarine;
}

.small-lot {
    background-color: purple;
}

.multi-size-lot {
    background-color: brown;
}


div>button {
    width: 80%;
    border-radius: 3px;
    border: 1px solid white;
    color: rgb(26, 26, 65);
    position: absolute;
    bottom: 10%;
    height: 30%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#table {
    width: 80%;
    border: 1px solid aquamarine;
    align-self: center;
    margin: auto;
}

tr {
    width: 100%;
    height: 2rem;

}

td,
th {
    width: 33.3%;
    height: 2rem;
    color: aquamarine;
    border: 0.5px solid aquamarine;
    text-align: center;
}

@media (max-width:600px) {

    main,
    .small-size,
    .multi-size {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav h1 {
        font-size: 24px;
    }
}